
@model TankMuseum.WebUI.Models.ExhibitsListViewModel
@{
    ViewBag.Title = "Экспонаты";
}

<h2>@ViewBag.Title</h2>

@foreach (var p in Model.Exhibits)
{
    Html.RenderPartial("ExhibitSummary", p);
} 

<div class="pager">   
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory, subcategory = Model.CurrentSubcategory })) </div> 