@model Domain.Entities.Exhibit

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Иземенение: @Model.Name</h1>
@using (Html.BeginForm("Edit", "Admin",FormMethod.Post,new {enctype = "multipart/form-data" })) {
    @Html.EditorForModel()
    <div class="editor-label">Изображение</div>
    <div class="editor-field"/>
    if (Model.ImageData == null)
    {
        @:None
    }
    else {
        <img width="150" height="150" src="@Url.Action("GetImage", "Exhibit", new {Model.ExhibitID})"/>
        
    }
    <div>Загрузите изображение:       
    <input type="file" name="Image" />
    </div>
    <input type="submit" value="Сохранить"/>
    @Html.ActionLink("Отменить и вернуться к списку", "Index")
    
}

